src/main/mule/employeetrackingsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3e057d4d-d27e-4879-b811-2d51f1169af8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="b4e25293-1efb-450e-be07-54e2acc65dda" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="1016" database="xyz" />
	</db:config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="be3c19b7-d0a5-4ff7-bed9-c739bc19efa3" >
		<salesforce:basic-connection username="sanudeep000@gmail.com" password="Anudeep1003" securityToken=" fZ3DCQ82YctlY0OzNX0M9l2E7" url="https://login.salesforce.com/services/Soap/u/51.0" />
	</salesforce:sfdc-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="a732203e-937a-457e-b9d1-9a7cd1faadea" >
		<file:connection workingDir="D:\employee" />
	</file:config>
	<flow name="selectFlow" doc:id="6efb14e6-a23a-4269-8d85-cbb6e7b0ffe9" >
		<http:listener doc:name="select" doc:id="c46f9347-abaf-49a6-b4f9-43f75a99e6ee" config-ref="HTTP_Listener_config" path="/select" allowedMethods="GET"/>
		<set-variable value="#[attributes.queryParams.Id default '']" doc:name="GetbyId" doc:id="79327c0f-0ba0-4012-b478-934164b6e941" variableName="EmpId"/>
		<choice doc:name="Choice" doc:id="6536f81e-9324-484d-938a-8bafe1582958" >
			<when expression="#[vars.EmpId != '']">
				<db:select doc:name="Select" doc:id="90c83268-a9ae-4794-a368-d425e819a63e" config-ref="Database_Config">
					<db:sql ><![CDATA[select * from xyz.employee where Id=:Id]]></db:sql>
					<db:input-parameters ><![CDATA[#[{Id:vars.EmpId}]]]></db:input-parameters>
				</db:select>
			</when>
			<otherwise >
				<db:select doc:name="Select" doc:id="5132268b-7b79-4d63-8c9c-f45d33e722b4" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM xyz.employee]]></db:sql>
		</db:select>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="3a544989-c44d-4122-83c7-b8649e141e93" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="ac825d97-fae6-4500-8de1-d73e27cbe318" config-ref="File_Config" path="employee.csv" mode="APPEND"/>
	</flow>
	<flow name="insertFlow" doc:id="c1f2e9bc-46fa-4116-81f6-9b49cd6ddcda" >
		<http:listener doc:name="insert" doc:id="c184595b-6527-4377-afbc-a8db5ccfe18b" config-ref="HTTP_Listener_config" path="/insert" allowedMethods="POST"/>
		<db:insert doc:name="Insert" doc:id="b64f7ca2-90dc-4268-93a1-09f3c2898a49" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into employee(Id, Name, Email, Age, City, Project,Manager)
values(:Id,:Name,:Email,:Age,:City,:Project,:Manager)

]]></db:sql>
			<db:input-parameters ><![CDATA[#[{Id:payload.Id,Name:payload.Name,Email:payload.Email,Age:payload.Age,City:payload.City,Project:payload.Project,Manager:payload.Manager}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="08d6bfc6-2d9d-4fdc-8361-71e9e1d32b1f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message:"data added succesfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="updateFlow" doc:id="4be4b137-a453-4f97-9363-e0066d89e678" >
		<http:listener doc:name="update" doc:id="a1984455-590a-4696-85ca-9319dc78473b" config-ref="HTTP_Listener_config" path="/update" allowedMethods="PATCH"/>
		<db:update doc:name="Update" doc:id="b3eb79d4-9ae5-482b-980e-9a561716b12e" config-ref="Database_Config">
			<db:sql ><![CDATA[update xyz.employee set Manager=:Manager where Name=:Name and Id=:Id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{Manager:payload.Manager,Name:payload.Name,Id:payload.Id}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="2379a510-be3c-42b2-b7e3-d95e45d20738" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message:'data updated sucessfully'
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="deleteFlow" doc:id="09973ba5-8834-494e-91a5-291c2e0c3e63" >
		<http:listener doc:name="delete" doc:id="4e888b0c-aae1-4d18-8e3e-b89cea9d9884" config-ref="HTTP_Listener_config" path="/delete" allowedMethods="DELETE"/>
		<db:delete doc:name="Delete" doc:id="4de3d77f-dc52-4438-a2ca-536159381ef9" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from xyz.employee where Id=:Id and Email=:Email]]></db:sql>
			<db:input-parameters ><![CDATA[#[{Id:payload.Id,Email:payload.Email}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="c8ac7fed-3b00-44a5-9db3-a1c6484016af" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message:"data deleted suceesfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
